@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --bg-color:black;
 --border-color:#48515e;
 --font-color:white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

body{
  background: #000;
 
}

.name{
  font-family: 'EB Garamond', serif;
}

.experience{
  background-image: url('../../public/assets/001@3x.png');
  background-size:contain;
  background-repeat:repeat;
  background-position:85% 80%;
}

.contact{
background: rgb(18, 21, 26);
  background: linear-gradient(161deg, rgba(18, 21, 26, 1) 25%, rgba(0, 0, 0, 1) 56%, rgba(0, 0, 0, 1) 100%);
}

.active{
  color:white;
}

.slide-in{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: blue;
  transform-origin: bottom;
}
.slide-in{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100svh;
  background-color: blue;
  transform-origin: top;
}

#seven_frame{
  scroll-behavior: smooth;
}